body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
  padding-bottom: 80px;

  background: #fff;
  border-radius: 12px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  background: #007bff;
  color: white;
}

button:hover {
  background: #0056b3;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  margin-bottom: 10px;

  background: #f9f9f9;
  border-radius: 8px;

  transition: 0.2s;
}

.todo-item:hover {
  transform: scale(1.02);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.clear-btn {
  width: 100%;
  margin-top: 15px;
  background: red;
}

.clear-btn:hover {
  background: darkred;
}